.clients {
    padding-top: 94px;
    padding-bottom: 92px;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);

margin-bottom: 50px;
}

.client-icon {
    fill: currentColor;
}

.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #AFB1B8 1px solid;
    color: #AFB1B8;
    border-radius: 4px;

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: var(--accent-color) 1px solid;
        color: var(--accent-color);
    }
}


    .clients-item + .clients-item {
    margin-left: 30px;
    }