
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.portfolio-list-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: transparent;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-list-item + .potfolio-list-item {
    margin-left: 8px;
}
.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px #0000001F,
0px 1px 2px 0px #00000014,
0px 3px 1px 0px #0000001A;
  
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.potrfolio-description {
font-size: 18px;
line-height: 1.55;
color: #FFFFFF;
letter-spacing: 0.015em;
font-style: normal;
font-weight: normal;

background: rgba(33, 150, 243, 0.9);
height: 294px;
width: 100%;
padding-left: 24px;
padding-right: 24px;
padding-top: 63px;
padding-bottom: 63px;

position: absolute;
top: 100%;
left: 0%;
transition-property: top;
transition-duration: 250ms;
transition-timing-function: linear;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}
.portfolio-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
box-shadow: 1px 4px 6px 0px #00000029,
0px 4px 4px 0px #0000000F,
0px 1px 1px 0px #0000001F;
}

.portfolio-link:hover .potrfolio-description,
.portfolio-link:focus .potrfolio-description {
    top: 0;
    left: 0;
}


.portfolio-text {
    font-size: 16px;
    line-height: 1.87;}

.portfolio-list-second {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list-point {
    width: calc(100% / 3 - 30px); 
}

.portfolio-list-point:not(:nth-child(-n + 3)) {
    margin-top: 30px;
}
.portfolio-list-point:not(:nth-child(3n + 1)){
    margin-left: 30px;
}
.portfolio-name {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: solid 1px #EEEEEE;
    border-left: solid 1px #EEEEEE;
    border-right: solid 1px #EEEEEE;
}
.vector {
    display: block;
}