.works-image {
    position: relative;
}

.works-description {
font-style: normal;
font-weight: bold;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
height: 70px;
background: rgba(47, 48, 58, 0.8);
display: flex;
align-items: center;
width: 100%;
justify-content: center;
position: absolute;
left: 0%;
bottom: 0%;
}