

html {
    box-sizing: border-box;
}

*,
*::before
*::after{
    box-sizing: inherit;
}



body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}


